uvicorn
fastapi
pydantic
python-multipart
numpy
h5py
opencv-python<4.3
torchvision==0.10.1
torch==1.9.1
segmentation-models-pytorch==0.2.1
albumentations
matplotlib
SimpleITK
pydicom
numba
pandas
seaborn
requests
